<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graphql.study.demo.dao.UserMapper">
  <resultMap id="user" type="User" >
        <id  column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
         <result column="balance" property="balance" />
    </resultMap>
    <select id="getUser" parameterType="int" resultType="user">
        select * from user where id=${id}
    </select>

</mapper>